<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<a href="https://github.com/"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" style="width:42px;height:42px;"></a>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/code">Code</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jrp5mh@umsystem.edu">email</a></li>
	        		<li><a href="https://github.com/jamesprater">github.com/jamesprater</a></li>
				</ul>
			</footer>
		</body>
	</html>
